---
import Heading from '../atoms/AtomHeading.astro'
import Subheading from '../atoms/AtomSubheading.astro'

interface Props {
  subheading?: string
  heading: string
  level?: number
  align?: 'left' | 'center' | 'right'
  headingSize?: string
  subheadingSize?: string
  headingColor?: string
  subheadingColor?: string
}

const {
  subheading,
  heading,
  level = 2,
  align = 'center',
  headingSize = 'text-3xl md:text-5xl',
  subheadingSize = 'text-base md:text-lg',
  headingColor = 'text-cream',
  subheadingColor = 'text-gold',
} = Astro.props

const Tag = `h${level}`
---

<div class={`text-${align}`}>
  {subheading && (
    <div class={`${subheadingSize} ${subheadingColor}`}>
      <Subheading>{subheading}</Subheading>
    </div>
  )}
  <Tag class:list={`${headingSize} ${headingColor}`}>
    <Heading>{heading}</Heading>
  </Tag>
</div>
